<section id="about" class="content-section-b">
    <div id="about_change" class="container">
                        <div class="row">
                    <h2 class="category-heading alt-font">About me</h2>
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                </div>
        <div class="col-lg-8 col-lg-offset-2">
            <font size="4px">
                <p>
                    Hello, my name is Emily.
                <p>
                <p><br></p>
                <p>
                    I'm a <b>engineer</b> - mostly of <b>software</b> these days, but this has been known to vary. :)</a>
                </p>
                <p><br></p>
                <p>
                    My career has always been STEM-focused: I studied an undergraduate degree in
                    <a href="https://www.ucc.ie/en/processeng/" target="_blank">Process and Chemical Engineering</a>,
                    and completed postgraduate <a href="https://www.imperial.ac.uk/bioengineering" target="_blank">
                    Biomedical Engineering</a> research studies with the <a href="http://www.nsblab.org/" target="_blank">
                    Non-invasive Surgery and Biopsy Laboratory</a> at <a href="https://www.imperial.ac.uk/"target="_blank">
                    Imperial College London</a>.
                </p>
                <p><br></p>
                <p>
                    I <b>love learning</b> (and don't actually know what to do with myself when I'm not learning something
                    new).
                </p>
                <p><br></p>
                <p>
                    I feel strongly about <b>software testing</b> and test driven development.
                    I previously worked as an engineer in a production plant, where a large portion of my
                    role was spent mitigating risks, and understanding how systems and processes could fail.
                    I’ve taken this mindset to my role as a software developer, and strive to create well-tested
                    systems whose behaviour I can have confidence in.
                </p>
                <p><br></p>
            </font>
        </div>
    </div>
</section>


