<section id="about" class="content-section">
    <div id="about_change" class="container">
                        <div class="row">
                    <h2 class="category-heading alt-font">About me</h2>
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                </div>
        <div class="col-lg-8 col-lg-offset-2">
            <font size="4px">
                <p>
                    Hello, my name is Emily.
                <p>
                <p><br></p>
                <p>
                    I'm a backend and infrastructure engineer</a>.
                <p><br></p>
                <p>
                    I started out as a chemical engineer and took a detour into biomedical engineering,
                    before ending up in software.
                <p><br></p>
                <p>
                    My non-computer hobbies include pottering around bookstores, spending time with my
                    sewing machine, trying to keep plants alive and generally learning new things.
                </p>
                <p><br></p>
            </font>
        </div>
    </div>
</section>


