<body id="page-top" class="index">

<div class="navbar navbar-inverse navbar-fixed-top" id="nav">
  <div class="navbar-inner">
    <li><a class="brand"><b>Emily Woods<b></a></li>
    <ul class="nav navbar-nav">
      <li><a href="{{site.baseurl}}/">Home</a></li>
      <li><a href="{{site.baseurl}}/posts">Blog</a></li>
      <li><a href="{{site.baseurl}}/projects">Code</a></li>
    </ul>
  </div>
</div>
</div>

<div class="wrap">

  {{ content }}

  
</div>

<footer class="text-center">
  <div class="container">
    <ul class="contact-info">
      <li>
        <a href="https://www.instagram.com/emilym.woods/" title="Instagram">Instagram</a>
        <a href="https://github.com/emilywoods" title="GitHub">Github</a>
        <a href="https://uk.linkedin.com/in/emily-woods-38494083" title="LinkedIn">LinkedIn</a>
      <li>
    </ul>
  </div>
</footer>
</body>
</html>
