<!doctype html>
<html lang="en">


<head>
  <title> Emily Woods </title>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="{{ site.description }}">
  <meta name="author" content="{{ site.author }}">

  <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>

  <link href="/assets/bootstrap.min.css" rel="stylesheet">
  <link href="/assets/landing-page.css" rel="stylesheet">
  <link href="/assets/my-style.css" rel="stylesheet">
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
</head>
