<div class="navbar">
    <ul>
        <li>
            <a class="page-scroll" href="{{site.baseurl}}/#about">About</a>
        </li>
        <li>
            <a href="{{site.baseurl}}/projects">Projects</a>
        </li>
        <li>
            <a href="{{site.baseurl}}/reading">Reading</a>
        </li>
        <li>
            <a href="{{site.baseurl}}/posts">Writing</a>
        </li>
        <li>
            <a href="https://hub.docker.com/r/emilywoods/resume">Resume</a>
        </li>
    </ul>
</div>