<section id="photos" class="content-section-b">
  <div class="container">
    <div class="title">
      <h1> Photos </h1>
      <p>I quite like to travel. Here are some places that my itchy feet have taken me:</p>
    </div>
  </div>
</section>

<div class="project-preview">
  <img src="/assets/images/travel/dyrholaey.JPG">
  <img src="/assets/images/travel/hof.JPG">
  <img src="/assets/images/travel/hvolsvollur.JPG">
  <img src="/assets/images/travel/iceland.JPG">
  <img src="/assets/images/travel/icelandroad.JPG">
  <img src="/assets/images/travel/reykjadalur.JPG">
  <img src="/assets/images/travel/asolfsskali.JPG">
  <img src="/assets/images/travel/jasper.JPG">
  <img src="/assets/images/travel/britishcolumbia.JPG">
  <img src="/assets/images/travel/singapore.JPG">
  <img src="/assets/images/travel/siemreap.JPG">
  <img src="/assets/images/travel/kompongphluk.JPG">
  <img src="/assets/images/travel/split.JPG">
  <img src="/assets/images/travel/yosemite.JPG">
  <img src="/assets/images/travel/plitvice.JPG">
  <img src="/assets/images/travel/trinidad_house.JPG">
  <img src="/assets/images/travel/trinidad.JPG">
  <img src="/assets/images/travel/havana_cars.JPG">
  <img src="/assets/images/travel/havana_pier.JPG">
  <img src="/assets/images/travel/havana_trees.JPG">
  <img src="/assets/images/travel/camaguey.JPG">
  <img src="/assets/images/travel/camagueyII.JPG">
  <img src="/assets/images/travel/baracoa.JPG">
  <img src="/assets/images/travel/muine.JPG">
  <img src="/assets/images/travel/copenhagen.JPG">
  <img src="/assets/images/travel/edinburgh.JPG">







</div>