html {
    width: 100%;
    height: 100%;
}

body,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
}

.alt-font {font-family: 'Quicksand', sans-serif !important;}

/* navbar */

.navbar {
  margin-bottom: 0px;
  min-height: auto;
}

.navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: lavenderblush;
  position: fixed;
  top: 0;
  width: 100%;
}

.navbar li {
  float: right;
}

.navbar li a {
  display: block;
  color: #333;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.navbar li a:hover:not(.active) {
  background-color: #111;
  color: lavenderblush;
}

.navbar .active {
  background-color: #4CAF50;
  
}

/* title */
.title h1{
  padding-left: 20px;
  margin-top: 50px;
  color: #383838;
}

.title p{
  padding-left: 20px;
  color: #383838;
}



/* list posts */
.list-of-posts h2{
  padding: 15px 30px;
  text-align: left;
  padding-bottom: 14px;
  font-weight: bolder;
 }

.list-of-posts h3 {
  padding: 1px 35px;
  line-height: 10px;
  font-size: 15px;
  font-weight: 100;
  text-align: left;
}

.list-of-posts p {
  padding: 1px 35px;
  line-height: 10px;
  font-size: 15px;
  font-weight: 100;
  text-align: left;
}

/* post */
.blog-post-title {
  padding: 15px 20px;
  text-align: center;
  padding-bottom: 14px;
}

.blog-post-title h2 {
  line-height: 30px;
  font-size: 30px;
}

.blog-post-content h2, h3  {
  max-width:85%;
  padding: 5px 50px 10px 5px;
  line-height: 30px;
  margin:0 auto;
}

.blog-post-content h4 {
  max-width:85%;
  padding: 5px 50px 10px 5px;
  line-height: 20px;
  margin:0 auto;
}

.blog-post-content p {
  max-width:80%;
  position:relative;
  padding: 5px 50px 10px 5px;
  font-size: 15px;
  line-height: 20px;
  font-weight: 200;
  margin:0 auto;
}

.blog-post-content li {
  max-width:80%;
  padding: 1px 1px 10px;
  font-size: 15px;
  margin:0 auto;
}

.highlight {
  max-width:80%;
  padding: 1px 50px 10px;
  margin:0 auto;
}

.highlighter-rouge {
  position:relative;
  margin:0 auto;
}

.image-wrapper {
    max-width:80%;
    height:auto;
    position: relative;
    display:block;
    text-align: center;
    margin:0 auto;
}
.image-wrapper img{
    width:50%;
}

/* list projects*/

.project-preview h3 {
  padding: 10px 0px 0px;
  line-height: unset;
  margin: 0 0 10px;
}

@media screen and (max-width: 600px) {
  .project-preview h3 {
    font-size: 15px;
  }

  .project-preview p {
    font-size: 12px;
  }
}

.project-preview {
  width: 33.3%;
  padding: 5px;
  float: left;
}

.project-preview img {
  width: 100%;
}

.project-preview-row {
  display: flex;
  flex-wrap: wrap;
}

.project-preview-row::after {
  content: "";
  clear: both;
  display: table;
}

/* reading list */

.reading-list h2 {
  padding: 15px 30px;
  text-align: left;
  padding-bottom: 14px;
  font-weight: bolder;
}

.reading-list ul {
  text-align: left;
  height:auto;
  padding: 0px 80px;
  font-size: 15px;
}

.reading-list ol {
  text-align: left;
  height:auto;
  padding: 0px 80px;
  font-size: 15px;
}

.reading-list li {
  text-align: left;
  height:auto;
  max-width:90%;
  font-size: 15px;
}

.reading-list p {
  height:auto;
  max-width:90%;
  padding: 0px 70px;
  margin-left: 5px
  display: block;
  font-size: 15px;
}
